<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <router-link class="navbar-brand" to="/">Vuejs-base <small>&alpha;</small></router-link>

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link active" to="/">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link active" to="/todos">Todos</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link active" to="/about">About</router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Header'
}
</script>
