<template>
<div class="d-flex justify-content-center">
  <div class="card mt-5 mb-5">
    <h2 class="card-header text-center">To-do list</h2>
    <todo-list />
  </div>
</div>
</template>

<script>
import TodoList from '@/components/TodoList.vue'

export default {
  name: 'Todos',
  components: {
    TodoList
  }
}
</script>
