<template>
  <ul class="list-group">
    <todo v-for="todo in todos" :key="todo.id" :todo="todo"></todo>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'

import Todo from '@/components/Todo.vue'

export default {
  name: 'TodoList',
  components: {
    Todo
  },
  computed: {
    ...mapGetters({
      'todos': 'todos/getData'
    })
  },
  beforeMount () {
    this.$store.dispatch('todos/fetchData')
  }
}
</script>
