<template>
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <font-awesome-icon :icon="['fas', 'compass']" />
        {{ todo.title | capitalize }}</h5>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Todo',
  props: ['todo']
}
</script>
