<template>
  <div>
    <main-header/>
    <router-view/>
  </div>
</template>

<script>
import MainHeader from '@/components/navigation/Header.vue'

export default {
  name: 'App',
  components: {
    MainHeader
  }
}
</script>

<style lang="scss">
@import './styles/main.scss';
</style>
